main.training-records .form-area {
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
  font-size: 18px;
}

main.training-records .export-button-container button {
  width: auto;
  margin-right: 1rem;
}

main.training-records table thead tr th,
main.training-records table tbody tr td {
  font-size: 14px;
}

main.training-records table tbody tr td {
  white-space: nowrap;
}
