.training-view div.actions article.picture div.children div.picture-children {
  flex-direction: column;
}

.training-view .actions .picture-children img {
  width: fit-content;
}

@media screen and (min-width: 992px) {
  .training-view .actions .picture-children img {
    width: 20rem;
  }
}
