td.action-cell {
  width: 1rem;
}

td.action-cell div.action-button {
  padding: 0.5rem 1rem;
  cursor: pointer;
}

td.action-cell div.action-button span {
  font-size: 2rem;
  position: relative;
  top: 3px;
}

td.action-cell div.action-button span.primary {
  color: var(--primary);
  transition: color var(--transition);
}
td.action-cell div.action-button span.primary:hover {
  color: var(--primary-hover);
}

td.action-cell div.action-button span.delete {
  color: hsl(0, 66%, 60%);
  transition: color var(--transition);
}

td.action-cell div.action-button span.delete:hover {
  color: hsl(0, 66%, 40%);
}
