td.action-cell {
  width: 1rem;
}

td.action-cell div.action-button {
  padding: 0.5rem;
  border-radius: 50%;
  background: none;
  border: none;
}

td.action-cell div.action-button span {
  font-size: 2rem;
  position: relative;
  top: 3px;
}

td.action-cell div.action-button span.primary {
  color: var(--primary);
}

td.action-cell div.action-button span.secondary {
  color: var(--secondary);
}
