div.add-button-container {
  position: absolute;
  right: 1rem;
  top: 5rem;
}

div.add-button-container a {
  border-radius: 50%;
  cursor: pointer;
}

div.add-button-container a span {
  position: relative;
  top: 3px;
}
