.form-button-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: none;
  padding: 1rem;
  background-color: transparent;
}

.form-button-row button {
  width: fit-content;
  display: flex;
  align-items: center;
}
