main.card-list article.home-item {
  cursor: pointer;
  justify-content: start;
  column-gap: 1rem;
  padding: 1rem;
  align-items: start;
}

main.card-list article.home-item hgroup {
  margin: 0;
}

main.card-list article.home-item div span {
  font-size: 4rem;
}

main.card-list article.home-item div.button {
  min-width: 108px;
}

main.card-list .menu-separator {
  width: 100%;
  margin: 1rem 0;
}
