main.home-list {
  margin-top: 1rem;
}

main.home-list article.home-card {
  cursor: pointer;
  justify-content: start;
  column-gap: 2rem;
  padding: 2rem;
  align-items: start;
}

main.home-list article.home-card hgroup {
  margin: 0;
}

main.home-list article.home-card div span {
  font-size: 4rem;
}

main.home-list article.home-card div.home-card-button {
  min-width: 108px;
}

main.home-list .menu-separator {
  width: 100%;
  margin: 1rem 0;
}
