.course-view {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  column-gap: 1rem;
  row-gap: 1rem;
  flex-wrap: wrap;
}

.course-view article {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.course-view article:nth-child(2) {
  flex-grow: 1;
}

@media screen and (min-width: 992px) {
  .course-view article {
    width: unset;
  }
}

/* Title */

.course-view div article .title {
  color: var(--background-color);
  background-color: var(--primary);
  padding: 0.3rem 1rem;
  border-radius: 0 1rem 1rem 0;
  width: fit-content;
  margin: 0;
}

.course-view div:not(:first-child) {
  flex-grow: 1;
}

/* Tables  */

.course-view figure {
  overflow: auto;
  max-width: 80vw;
}

.course-view figure table tbody td input[type='checkbox'] {
  font-size: 0.8rem;
}

.course-view table th,
.course-view table td {
  white-space: nowrap;
  padding: 6px;
}
