:root {
  --calendar-white: #ecf0f2;
  --calendar-blueish-white: #f8fafc;
  --calendar-gray: #dee4f0;
  --calendar-orange: #e74c3c;
  --calendar-purple: #78378c;
  --calendar-blue: #3c91e7;
  --shadow: 0 30px 40px 0 rgba(16, 36, 94, 0.2);
  --rounded-corners: 4px;
  --rounded-corners-large: 8px;
}

body {
  margin: 0;
  background: var(--bkg);
  font-family: Montserrat, Segoe UI, Tahoma, sans-serif;
}

body.theme-blue {
  --bkg: var(--calendar-blueish-white);
  --primary: var(--calendar-blue);
  --secondary: var(--calendar-purple);
}

body.theme-orange {
  --bkg: var(--calendar-blueish-white);
  --primary: var(--calendar-orange);
  --secondary: var(--calendar-purple);
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  text-transform: uppercase;
}

h2 {
  margin-bottom: 0.325em;
  font-size: 2.8em;
  word-wrap: break-word;
  hyphens: auto;
}

p {
  margin: 0;
  font-size: 19px;
}

a {
  color: inherit;
  text-decoration: underline;
  text-decoration-style: dashed;
  text-underline-offset: 0.15em;
}

a:hover,
a:focus {
  outline: none;
  color: inherit;
  text-decoration-style: solid;
}

.react-calendar {
  border-radius: 3px;
  width: 350px;
  max-width: 100%;
  background: white;
  font: inherit;
  line-height: 1.125em;
  border: 0;
  overflow: hidden;
}

.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
  font: inherit;
  font-size: 0.8em;
  color: black;
}

.react-calendar button:enabled:hover {
  cursor: pointer;
}

.react-calendar--doubleView {
  width: 700px;
}

.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}

.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}

.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.react-calendar__navigation {
  display: flex;
  height: 44px;
  margin-bottom: 10px;
}

.react-calendar__navigation button {
  background: none;
  white-space: nowrap;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #e6e6e6 !important;
}

.react-calendar__navigation button[disabled] {
  background-color: #f0f0f0 !important;
}

.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.75em;
}

.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}

.react-calendar__month-view__weekNumbers {
  font-weight: 700;
}

.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75em;
  padding: 1em calc(0.5em / 0.75);
}

.react-calendar__month-view__days__day--weekend {
  color: #d10000 !important;
}

.react-calendar__month-view__days__day--neighboringMonth {
  color: #757575 !important;
}

.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}

.react-calendar__tile {
  max-width: 100%;
  text-align: center;
  padding: 0.75em 0.5em;
  background: none;
}

.react-calendar__tile:disabled {
  background-color: #f0f0f0 !important;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #e6e6e6 !important;
}

.react-calendar__tile--hasActive {
  background: #76baff !important;
}

.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #a9d4ff !important;
}

.react-calendar__tile--active {
  background: #006edc !important;
  color: #fff !important;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #1087ff !important;
}

.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #e6e6e6 !important;
}

button {
  font-family: inherit;
}

.illustration > .react-date-picker {
  box-shadow: 4px 4px #0003;
}

.wrapper {
  width: 90%;
  max-width: 1110px;
  margin: 0 auto;
}
