article.exit-reason {
  position: fixed;
  width: fit-content;
  max-width: 80%;
  bottom: 0;
  left: 1rem;
  z-index: 1;
  box-shadow: 2px 4px 6px #cdcdcd;
  padding: 0;
}

article.exit-reason .title {
  border-radius: 6px 6px 0 0;
  background-color: var(--warning);
  font-weight: 700;
  color: white;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
}

article.exit-reason .reason {
  padding: 1rem;
}

article.exit-reason .title.cancelled {
  background-color: var(--error);
}
