div.alert-status-container {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  width: fit-content;
  height: fit-content;
  z-index: 2;
}

div.alert-status-container div.alert-status {
  border-radius: 3px;
  box-shadow: 2px 4px 6px #cdcdcd;
  color: white;
  padding: 0.5rem 1rem;
  font-size: 14px;
  text-transform: uppercase;
  background-color: var(--primary);
}

div.alert-status-container div.alert-status.status-11 {
  background-color: var(--success);
}

div.alert-status-container div.alert-status.status-12 {
  background-color: var(--error);
}
