.pagination {
  display: flex;
  width: fit-content;
  margin: 0 auto;
}

.pagination .pagination-button {
  width: auto;
  margin: 1rem;
}

.pagination .pagination-page {
  margin-top: 2rem;
}

figure {
  margin: 0;
}
