.training-view {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  column-gap: 1rem;
  row-gap: 1rem;
  flex-wrap: wrap;
}

.training-view article {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 10px;
}

.training-view div .row-line {
  display: flex;
  flex-direction: row;
  margin-bottom: 0.5rem;
}

.training-view div .row-line div:first-child {
  white-space: nowrap;
}

.training-view div .row-line div:last-child {
  font-weight: bold;
  margin-left: 6px;
}

.training-view div .row-line div.highlighted {
  color: var(--primary);
}

.training-view .photo img {
  aspect-ratio: 4/3;
}

.training-view .actions {
  flex-grow: 1;
}

.training-view .actions article div {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.training-view .learner .row-line div:first-child:not(.tag) {
  width: 5rem;
  text-align: right;
  margin-right: 1rem;
}

.training-view .course .row-line div:first-child:not(.tag) {
  width: 8rem;
  text-align: right;
  margin-right: 1rem;
}

.training-view .actions .modal .modal-container div {
  flex-direction: column;
}

@media screen and (min-width: 640px) {
  .training-view article {
    margin: 0 0 1rem 0;
  }

  .training-view .photo img {
    margin: 0 auto;
  }

  .training-view article.course,
  .training-view article.learner {
    flex-grow: 1;
  }
}

@media screen and (min-width: 992px) {
  .training-view article.photo,
  .training-view article.learner {
    width: unset;
  }

  .training-view .photo img {
    max-width: 20rem;
    margin: 0 auto;
  }

  .training-view article.course,
  .training-view article.learner {
    flex-grow: 1;
  }
}
