div.actions article div label {
  white-space: nowrap;
}

div.actions article .title {
  text-transform: uppercase;
}

div.actions article article.description {
  margin: 0;
}

div.actions article div.description-large {
  font-size: 1.5rem;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div.actions article article.description ol {
  margin: 0;
}

div.actions article article.description ol li {
  margin-bottom: 1rem;
  font-size: 16px;
}

div.actions article article.description i {
  color: var(--primary);
  font-size: 14px;
}

div.actions div.children {
  align-items: center;
  justify-content: center;
}

div.actions div.buttons {
  justify-content: center;
  margin-top: 2rem;
}

div.actions div.buttons button {
  max-width: 10rem;
  text-transform: uppercase;
  font-weight: 900;
  background-color: var(--primary);
  transition: opacity var(--transition);
}

div.actions div button.delete {
  background-color: var(--error);
}

div.actions div button:hover,
div.actions div button.delete:hover {
  opacity: 0.9;
}
