.blood-pressure input {
  max-width: 12rem;
  font-size: 1.4rem;
  text-align: center;
}

.blood-pressure input::placeholder {
  font-size: 14px;
  position: relative;
  top: -1ch;
}

.blood-pressure .description .bp-results {
  flex-direction: column;
  align-items: center;
}

#root
  > div.routes-container
  > main
  > main
  > div.actions
  > section
  > article.blood-pressure
  > div.children
  > div {
  gap: 0;
}

.blood-pressure .children .date-list {
  flex-direction: column;
}

.blood-pressure .children .date-list .date-value {
  padding: 0.6rem;
  font-size: 1rem;
}

@media screen and (min-width: 640px) {
  .blood-pressure .children .date-list .date-value {
    font-size: 1.4rem;
  }
}
