div.alert-cancelled {
  background-color: var(--error);
  padding: 6px 12px;
  color: white;
  position: fixed;
  text-align: center;
  text-transform: uppercase;
  right: 1rem;
  top: 4rem;
  /* opacity: 0.5; */
  font-size: small;
}
