div.alert-status-container {
  position: fixed;
  top: 6rem;
  right: 2rem;
  width: fit-content;
  height: fit-content;
}

@media screen and (min-width: 992px) {
  div.alert-status-container {
    top: 6rem;
    right: 0;
  }
}

div.alert-status-container div.alert-status {
  border-radius: 4px;
  border: 2px solid transparent;
  box-shadow: 0 0 0 3px, 0 0 0 2px inset;
  color: var(--primary);
  font-family: 'Black Ops One', cursive;
  opacity: 0.4;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  transform: rotate(30deg);
}

div.alert-status-container div.alert-status.status-11 {
  box-shadow: 0 0 0 3px var(--success), 0 0 0 2px var(--success) inset;
  color: var(--success);
}

div.alert-status-container div.alert-status.status-12 {
  box-shadow: 0 0 0 3px var(--error), 0 0 0 2px var(--error) inset;
  color: var(--error);
}
