article.course table.course-table {
  width: 100%;
}

article.course div.table-title {
  padding: 1rem 0 0 1rem;
  margin: 1rem 0 0 0;
  font-size: 1.2rem;
  border-top: 0.1px solid #ccc;
}

article.course table.course-table th {
  font-size: 16px;
  font-weight: 900;
}
