.learner-view div .row-line {
  display: flex;
  flex-direction: row;
  margin-bottom: 0.5rem;
}

.learner-view div .row-line div {
  width: auto;
}

.learner-view div .learner .tag {
  max-width: fit-content;
  font-size: 0.8rem;
  position: relative;
}

.learner-view div .row-line div:last-child {
  font-weight: bold;
  margin-left: 6px;
}

.learner-view div .row-line div.highlighted {
  color: var(--primary);
}

@media screen and (min-width: 992px) {
  .learner-view div .row-line div:first-child:not(.tag) {
    width: 5rem;
    text-align: right;
    margin-right: 1rem;
  }
}
