.pending-tasks .card {
  align-items: flex-start;
}

.pending-tasks .card .card-avatar-root {
  margin-top: 1rem;
}

.pending-tasks .card.trainings .card-body {
  padding: 0.6rem;
}

.pending-tasks .card.trainings .name {
  font-weight: 900;
}

.pending-tasks .card.trainings .course {
  padding: 0 0.2rem;
  background-color: var(--primary);
  color: #fff;
  min-width: 100%;
  border-radius: 0 10px 0 0;
}

.pending-tasks .card.trainings .badge {
  color: var(--secondary);
}

.pending-tasks .card.trainings .company {
  font-weight: 900;
}

.pending-tasks .card.trainings .instructor {
  color: var(--primary);
}

.pending-tasks .card.trainings .card-body .status {
  background-color: transparent;
  margin: 0;
  color: var(--secondary);
}

.pending-tasks .card.trainings .card-body .status-12 {
  color: var(--success);
}

.pending-tasks .card.trainings .card-body .status-13 {
  color: var(--error);
}
