.pending-tasks .card {
  align-items: flex-start;
}

.pending-tasks .card .card-avatar-root {
  margin-top: 1rem;
}

.pending-tasks .card.trainings .card-body {
  padding: 0.6rem;
}

.pending-tasks .card.trainings .name {
  font-weight: 900;
}

.pending-tasks .card.trainings .course {
  padding: 0 0.2rem;
  background-color: var(--primary);
  color: #fff;
  min-width: 100%;
  border-radius: 0 10px 0 0;
}

.pending-tasks .card.trainings .badge {
  color: var(--secondary);
}

.pending-tasks .card.trainings .company {
  font-weight: 900;
}

.pending-tasks .card.trainings .instructor {
  color: var(--primary);
}

.card.trainings .card-body .status {
  font-weight: 900;
  color: white;
  padding: 0 4px;
  border-radius: 3px;
  width: fit-content;
  background-color: var(--primary);
}

.card.trainings .card-body .status-1 {
  background-color: var(--secondary);
}

.card.trainings .card-body .status-11 {
  background-color: var(--success);
}

.card.trainings .card-body .status-12 {
  background-color: var(--error);
}
