.reporting-chart-container {
  height: 540px;
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
}

.reporting-chart-container.opaque {
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
}

#react-charts-portal table tr td {
  padding: 0.5rem;
}

#react-charts-portal table tr td:nth-child(2),
#react-charts-portal table tr td:nth-child(3) {
  color: white;
  font-size: 12px;
}

#react-charts-portal table tr td svg {
  height: 1rem;
  width: 1rem;
}
