.print .children {
  flex-direction: column !important;
}

.print .children .certificate,
.print .children .id-card {
  width: fit-content;
  height: fit-content;
  background-color: var(--primary);
}

div.actions .print article.description {
  padding: 0.5rem 1rem;
  margin: 1rem auto;
  width: fit-content;
  background-color: var(--success);
  color: white;
}

div.actions .print article.description span {
  position: relative;
  font-size: 1rem;
  top: 2px;
}

div.actions .print .children .opito-fields {
  display: flex;
  flex-direction: column;
  row-gap: 0;
}

div.actions .print .children .opito-fields button {
  display: flex;
  width: fit-content;
  align-self: center;
}

div.actions .print .children .opito-fields .opito-field {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.23);
  padding: var(--form-element-spacing-vertical)
    var(--form-element-spacing-horizontal);
  border-radius: 3px;
  width: 100%;
  height: var(--spacing);
  margin-bottom: var(--spacing);
  color: var(--success);
  height: calc(
    1rem * var(--line-height) + var(--form-element-spacing-vertical) * 2 +
      var(--border-width) * 2
  );
}

@media screen and (min-width: 640px) {
  .print .children .certificate,
  .print .children .id-card {
    height: fit-content;
    width: fit-content;
  }
}

@media screen and (min-width: 992px) {
  .print .children .certificate {
    height: 47vw;
    width: 30vw;
  }

  .print .children .id-card {
    height: 44vw;
    width: 30vw;
  }
}
