.classroom-header {
  position: fixed;
  top: 4rem;
  right: 6px;
  z-index: 1;
  padding: 6px;
  background-color: var(--purple-hover);
  border-radius: 6px;
}

.classroom-header div div {
  color: white;
}
