.tag.default {
  color: var(--primary);
}

.tag.opito {
  background: var(--error);
}

.tag.standard {
  background-color: var(--success);
}

.tag.nimasa {
  background-color: var(--primary);
}

.tag.forklift {
  background-color: var(--info);
}
