.card.learners {
  align-items: center;
}

/* Learners card contains a picture and line text is smaller */

.card.learners .card-body .ellipsis {
  max-width: 13rem;
  min-width: 13rem;
}

@media screen and (min-width: 640px) {
  .card.learners .card-body .ellipsis {
    max-width: 10rem;
    min-width: 10rem;
  }
}

@media screen and (min-width: 992px) {
  .card.learners .card-body .ellipsis {
    max-width: 20rem;
    min-width: 20rem;
  }
}
