@media screen and (min-width: 640px) {
  .card.learners {
    max-width: 17rem;
    min-width: 17rem;
  }

  .card.learners .ellipsis {
    max-width: 9rem;
    min-width: 9rem;
  }
}

@media screen and (min-width: 992px) {
  .card.learners {
    max-width: 20rem;
    min-width: 20rem;
  }

  .card.learners .ellipsis {
    max-width: 12.5rem;
    min-width: 12.5rem;
  }
}
