.card.trainings .card-avatar-root .card-avatar-img {
  margin-top: 0;
}

.card.trainings .course {
  font-size: 18px;
  color: var(--primary);
}

.card.trainings .name {
  font-size: 18px;
}

.card.trainings .card-body .status {
  font-weight: 900;
  color: white;
  padding: 4px 8px;
  border-radius: 3px;
}

.card.trainings .card-body .status-1 {
  background-color: #888;
}

.card.trainings .card-body .status-2 {
  background-color: var(--primary);
}

.card.trainings .card-body .status-3 {
  background-color: var(--purple);
}

.card.trainings .card-body .status-4 {
  background-color: var(--purple);
}

.card.trainings .card-body .status-5 {
  background-color: var(--purple);
}

.card.trainings .card-body .status-6 {
  background-color: var(--purple);
}

.card.trainings .card-body .status-7 {
  background-color: var(--purple);
}

.card.trainings .card-body .status-8 {
  background-color: var(--purple);
}

.card.trainings .card-body .status-9 {
  background-color: var(--purple);
}

.card.trainings .card-body .status-10 {
  background-color: var(--purple);
}

.card.trainings .card-body .status-11 {
  background-color: var(--purple);
}

.card.trainings .card-body .status-12 {
  background-color: var(--success);
}

.card.trainings .card-body .status-13 {
  background-color: var(--error);
}
