.card.trainings .card-avatar-root {
  padding-top: 1rem;
}
.card.trainings .card-avatar-root .card-avatar-img {
  margin-top: 0;
}

.card.trainings .course {
  font-size: 18px;
  color: var(--primary);
}

.card.trainings .name {
  font-size: 18px;
}

.card.trainings .ellipsis {
  max-width: 13rem;
}

.card.trainings .card-body .status {
  font-weight: 900;
  color: white;
  padding: 4px 8px;
  border-radius: 3px;
}

.card.trainings .card-body .status-1 {
  background-color: #888;
}

.card.trainings .card-body .status-7 {
  background-color: blueviolet;
}

.card.trainings .card-body .status-11 {
  background-color: green;
}

@media screen and (min-width: 640px) {
  .card.trainings section.dropdown-container {
    width: 40vw;
  }

  .card.trainings {
    max-width: 17rem;
    min-width: 17rem;
  }

  .card.trainings .ellipsis {
    max-width: 9rem;
    min-width: 9rem;
  }
}

@media screen and (min-width: 992px) {
  .card.trainings section.dropdown-container {
    width: 26rem;
  }

  .card.trainings {
    max-width: 20rem;
    min-width: 20rem;
  }

  .card.trainings .ellipsis {
    max-width: 12.5rem;
    min-width: 12.5rem;
  }
}
