.card.trainings .card-avatar-root .card-avatar-img {
  margin-top: 0;
}

.card.trainings .course {
  font-size: 18px;
  color: var(--primary);
}

.card.trainings .name {
  font-size: 18px;
}

.card.trainings .card-body .status {
  font-weight: 900;
  color: white;
  padding: 4px 8px;
  border-radius: 3px;
}

.card.trainings .card-body .status-1 {
  background-color: #888;
}

.card.trainings .card-body .status-7 {
  background-color: blueviolet;
}

.card.trainings .card-body .status-11 {
  background-color: green;
}

.card.trainings {
  align-items: center;
  width: var(--card-width-mobile);
  max-width: var(--card-width-mobile);
  min-width: var(--card-width-mobile);
}

/* trainings card contains a picture and line text is smaller */

.card.trainings .card-body .ellipsis {
  max-width: 13rem;
  min-width: 13rem;
}

@media screen and (min-width: 640px) {
  .card.trainings {
    max-width: 18rem;
    min-width: 18rem;
  }

  .card.trainings .card-body .ellipsis {
    max-width: 10rem;
    min-width: 10rem;
  }
}

@media screen and (min-width: 992px) {
  .card.trainings {
    max-width: 27rem;
    min-width: 27rem;
  }

  .card.trainings .card-body .ellipsis {
    max-width: 20rem;
    min-width: 20rem;
  }
}
