.card.users .username {
  color: var(--primary);
}

.card.users .tag.active {
  background-color: var(--success);
  padding: 0.3rem 0.6rem;
}

.card.users .tag.inactive {
  background: var(--error);
  padding: 0.3rem 0.6rem;
}

.card.users .roles-container {
  display: flex;
  flex-direction: row;
}

.card.users .card-body .label {
  color: #888;
}

.card.users .card-body .roles-container .value {
  font-weight: 900;
  color: #000;
}
