.card.users .username {
  color: var(--primary);
}

.card.users .tag.active {
  background-color: rgb(0, 100, 100);
  padding: 0.3rem 0.6rem;
}

.card.users .tag.inactive {
  background: var(--del-color);
  padding: 0.3rem 0.6rem;
}

.card.users .ellipsis {
  max-width: 18rem;
}

@media screen and (min-width: 640px) {
  .card.users .ellipsis {
    max-width: 15rem;
    min-width: 15rem;
  }
}
