.card.users .username {
  color: var(--primary);
}

.card.users .tag.active {
  background-color: var(--success);
}

.card.users .tag.inactive {
  background: var(--error);
}

.card.users .roles-container {
  display: flex;
  flex-direction: row;
}

.card.users .card-body .label {
  color: var(--secondary);
}

.card.users .card-body .roles-container .value {
  font-weight: 900;
}
