nav.navbar {
  background-color: var(--primary-hover);
  position: fixed;
  z-index: 1;
  height: 64px;
}

nav.navbar > * {
  color: #fff;
}

summary {
  content: url(../../assets/menu_white_24dp.svg);
}

@keyframes details-show {
  from {
    opacity: 0;
    transform: var(--details-translate, translateY(-0.5em));
  }
}

details[open] > *:not(summary) {
  animation: details-show 150ms ease-in-out;
}

nav.navbar li a.link-option {
  display: flex !important;
  flex-direction: row;
  align-items: center;
  column-gap: 8px;
}

nav.navbar li a.link-option img {
  margin-right: 1rem;
}

nav.navbar li.active {
  background-color: hsl(205deg, 18%, 86%);
}

nav.navbar li.active a.link-option {
  color: #111;
}

label span.material-icons {
  display: flex;
  flex-direction: row;
}

nav.navbar li.page-title {
  font-size: 2rem;
}

nav.breadcrumb {
  position: unset;
}
