nav {
  background-color: var(--primary-hover);
}

nav>* {
  color: #fff;
}

summary {
  content: url(../../assets/menu_white_24dp.svg);
}

@keyframes details-show {
  from {
    opacity: 0;
    transform: var(--details-translate, translateY(-0.5em));
  }
}

details[open]>*:not(summary) {
  animation: details-show 150ms ease-in-out;
}

details ul {
  background-color: #fff !important;
}

nav li a.link-option {
  display: flex !important;
  flex-direction: row;
  align-items: center;
  color: #111 !important;
}

nav li a.link-option img {
  margin-right: 1rem;
}

nav li.active {
  background-color: hsl(205deg, 18%, 86%);
}
