.tag.default {
  color: var(--primary);
}

.tag.opito {
  background: var(--del-color);
}

.tag.standard {
  background-color: rgb(0, 100, 100);
}

.tag.nimasa {
  background-color: var(--primary);
}

.tag.forklift {
  background-color: rgb(0, 200, 200);
}
.card-body .ellipsis {
  max-width: 12rem;
}
