.pagination {
  display: flex;
  flex-direction: column;
}

.pagination div {
  display: flex;
  width: fit-content;
  margin: 0 auto;
  align-items: center;
}

.pagination div:last-child {
  flex-direction: column;
}

.pagination div .pagination-button {
  width: fit-content;
  margin: 1rem;
  padding: 0 1rem;
}

.pagination div .pagination-button span.material-icons {
  position: relative;
  top: 3px;
}

figure {
  margin: 0;
}
