article.form-container {
  background-color: #e3f2fd;
}

article.form-container .form-control {
  width: auto;
}

article.form-container details[role='list'] {
  width: auto;
}

article.no-mobile {
  display: none;
}

@media screen and (min-width: 992px) {
  article.no-mobile {
    display: block;
  }
}
