.welcome-letter .children {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcome-letter .children .welcome-letter {
  width: fit-content;
  height: fit-content;
  background-color: var(--primary);
}

@media screen and (min-width: 640px) {
  .welcome-letter .children .welcome-letter {
    height: fit-content;
    width: fit-content;
  }
}

@media screen and (min-width: 992px) {
  .welcome-letter .children .welcome-letter {
    height: 47vw;
    width: 30vw;
  }

  .welcome-letter .children .id-card {
    height: 44vw;
    width: 30vw;
  }
}

.welcome-letter .description {
  padding: 0;
  box-shadow: none;
}

.welcome-letter .description .buttons,
.welcome-letter .buttons {
  margin: 0 !important;
}

.welcome-letter .description .buttons .missing-email,
.welcome-letter .buttons .missing-email {
  background-color: var(--error);
}

.welcome-letter .description .buttons .send-button-container {
  flex-direction: column;
  row-gap: 0;
}

.welcome-letter .description .buttons .send-button-container button {
  margin-bottom: 0;
}

.welcome-letter .description .emails-list {
  justify-content: center;
  font-size: 14px;
  color: var(--secondary);
}
