dialog.modal {
  align-items: center;
}

dialog.modal article.modal-container {
  padding: 1rem;
  width: 100%;
  height: auto;
}

div.modal-close-button {
  width: auto;
  float: right;
}
@media screen and (min-width: 640px) {
  dialog.modal article.modal-container {
    width: 30rem;
  }
}
