dialog.modal {
  align-items: center;
}

dialog.modal article.modal-container {
  padding: 1rem;
  height: auto;
  position: relative;
  width: 100%;
  background-color: var(--page-background-color);
}

div.action-button.modal-close-button {
  position: absolute;
  right: 0;
  top: 0;
}
@media screen and (min-width: 992px) {
  dialog.modal article.modal-container {
    width: 30rem;
  }
}
