.tag {
  padding: 3px;
  border-radius: 4px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  min-width: 22px;
  font-size: 12px;
  color: white;
}

.tag.trn {
  background: var(--primary);
}

.tag.lcl {
  background-color: var(--ins-color);
}

.tag.sub {
  background-color: rgb(85, 85, 85);
}
