.tag {
  padding: 3px 6px;
  border-radius: 4px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  min-width: 22px;
  font-size: var(--min-font-size);
  color: white;
  line-height: initial;
  width: fit-content;
}

.tag.default {
  color: var(--primary);
}

.tag.secondary {
  background: var(--secondary);
}

.tag.info {
  background: var(--info);
}

.tag.inverted {
  color: var(--secondary);
  background: white;
}
