details.dropdown-search summary:not([role]) {
  color: rgb(85, 85, 85);
  background-color: white;
  border: none;
}

details.dropdown-search summary.placeholder:not([role]) {
  color: var(--form-element-placeholder-color);
}

details.dropdown-search ul li.active {
  background-color: #bbdefb;
}
