.card {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  position: relative;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
  width: var(--card-width-mobile);
  max-width: var(--card-width-mobile);
  min-width: var(--card-width-mobile);
  border-radius: 10px;
}

.card .card-avatar-root .card-avatar-img {
  object-fit: cover;
  max-width: 6rem;
  aspect-ratio: 4/3;
  margin-left: 1rem;
}

.card .card-body {
  display: flex;
  flex: auto;
  padding: 1rem;
  flex-direction: column;
  pointer-events: none;
  width: fit-content;
}

.card .card-body div {
  margin-right: 3px;
}

.card .card-body div.card-icon {
  color: var(--primary);
  position: absolute;
  right: 1rem;
  top: 1rem;
}

.card .card-body div.card-error {
  color: var(--error);
  position: absolute;
  right: 1rem;
  bottom: 1rem;
}

.card .card-body div.card-line-buttons {
  display: flex;
  justify-content: flex-end;
  column-gap: 2rem;
  position: absolute;
  bottom: 0;
  right: 0.5rem;
}

.card .card-body div.card-line-buttons {
  cursor: pointer;
}

.card .card-body .extra-small-font {
  font-size: var(--extra-min-font-size);
}

.card .card-body .small-font {
  font-size: var(--min-font-size);
}

.card .card-body .medium-font {
  font-size: var(--med-font-size);
}

.card .card-body .ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: var(--ellipsis-mobile);
  min-width: var(--ellipsis-mobile);
}

@media screen and (min-width: 640px) {
  .card {
    max-width: var(--card-width-tablet);
    min-width: var(--card-width-tablet);
    width: var(--card-width-tablet);
  }

  .card .card-body .ellipsis {
    max-width: var(--ellipsis-tablet);
    min-width: var(--ellipsis-tablet);
    width: var(--ellipsis-tablet);
  }

  .card .card-body div.card-line-buttons {
    max-width: var(--ellipsis-tablet);
  }
}

@media screen and (min-width: 992px) {
  .card {
    max-width: var(--card-width-desktop);
    min-width: var(--card-width-desktop);
    width: var(--card-width-desktop);
  }

  .card .card-body .ellipsis {
    max-width: var(--ellipsis-desktop);
    min-width: var(--ellipsis-desktop);
    width: var(--ellipsis-desktop);
  }

  .card .card-body div.card-line-buttons {
    max-width: var(--ellipsis-desktop);
  }
}

.card .card-icon {
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: var(--error);
}
