.foet-form div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.foet-form .preview {
  width: 100%;
  margin: 0 auto 1rem auto;
}

.foet-form .preview img {
  object-fit: cover;
}

.foet-form .button-container button {
  margin: 0 auto;
  width: fit-content;
}

@media screen and (min-width: 992px) {
  .foet-form .preview {
    width: 20rem;
  }
}

.foet-form .tag {
  width: fit-content;
  color: var(--primary);
}
