:root {
  --font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --extra-min-font-size: 12px;
  --min-font-size: 14px;
  --mid-font-size: 16px;
  --card-width-desktop: 49%;
  --card-width-tablet: 48%;
  --card-width-mobile: 100%;
  --ellipsis-desktop: 13rem;
  --ellipsis-tablet: 14rem;
  --ellipsis-mobile: 12rem;
  --row-gap: 1rem;
  --col-gap: 1rem;
  --error: #d32f2f;
  --warning: #f57c00;
  --info: #0288d1;
  --success: #388e3c;
  --purple: #7c4dff;
}

@media screen and (min-width: 640px) {
  :root {
    --font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen,
      Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
}

/* Picocss affects the way buttons are displayed */
.Toastify__close-button {
  width: 1rem;
  height: 1rem;
}

.breadcrumb {
  background-color: unset;
}

.breadcrumb li {
  color: var(--secondary);
}

.error-fallback footer {
  display: flex;
  justify-content: space-around;
}

div.routes-container {
  padding: 4rem 0 0 0;
  overflow: hidden;
}

.italic {
  font-style: italic;
}

span.primary {
  color: var(--primary);
}

main.container,
main.container-fluid {
  margin-bottom: 1rem;
}

main article h6.title {
  text-transform: uppercase;
  background-color: #e1f5fe;

  padding: 1rem 1.6rem;
  border-radius: 1rem 1rem 0 0;
}
