.learner-view {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  column-gap: 1rem;
  row-gap: 1rem;
  flex-wrap: wrap;
}

.learner-view div {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.learner-view div:nth-child(2) {
  flex-grow: 1;
}

@media screen and (min-width: 992px) {
  .learner-view div {
    width: unset;
  }
}

/* Tables  */

.learner-view figure {
  overflow: auto;
  max-width: 80vw;
}

.learner-view figure table tbody td input[type='checkbox'] {
  font-size: 0.8rem;
}

.learner-view table th,
.learner-view table td {
  white-space: nowrap;
  padding: 6px;
}
