.training-view .actions .payment-children {
  flex-direction: column;
}

.training-view .actions .payment-children img {
  width: fit-content;
}

/* @media screen and (min-width: 992px) {
  .training-view .actions .payment-children img {
    width: 20rem;
  }
} */
